<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Page</title>
</head>
<body>
    <form id="password-form" onsubmit="return false;">
        <p>The password is an integer between -10,000 and 10,000.</p>
        <label for="password">Enter Password:</label>
        <input type="password" id="password" name="password" required>
        <button type="button" onclick="checkPassword()">Submit</button>
    </form>

    <div id="result-container"></div>

    <script>
        function checkPassword() {
            var password = document.getElementById('password').value;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/is-password', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    displayResult(response.result);
                }
            };
            xhr.send('password=' + encodeURIComponent(password));
        }

        function displayResult(result) {
            var resultContainer = document.getElementById('result-container');
            resultContainer.innerHTML = '<p>' + result + '</p>';
        }

        // Add event listener to clear the result on input change
        document.getElementById('password').addEventListener('input', function () {
            var resultContainer = document.getElementById('result-container');
            resultContainer.innerHTML = '';
        });

        function makeRandomCalls() {
            var routes = ['/check-password', '/validate-password', '/verify-password', '/is-password', '/probably-password'];

            setInterval(function () {
                var randomRoute = routes[Math.floor(Math.random() * routes.length)];
                makeRandomRequest(randomRoute);
            }, 1000);

            function makeRandomRequest(route) {
                var xhr = new XMLHttpRequest();
                xhr.open('POST', route, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4 && xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                    }
                };
                xhr.send('password=' + Math.random());
            }
        }
        makeRandomCalls();
    </script>
</body>
</html>